* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  --custom-primary-color: #0067ff;
  --custom-secondary-color: #fba504;
  --custom-tertiary-color: #143f87;
}
