.style-cont {
  color: var(--custom-secondary-color);
}
.reach-out {
  background-color: var(--custom-secondary-color);
  border-radius: 10px;
  border: 3px solid var(--custom-tertiary-color);
  color: white;
}
.logo {
  font-weight: bold;
  font-weight: 800;
  font-size: 48px;
  color: var(--custom-tertiary-color);
}
.logo span {
  color: var(--custom-secondary-color);
}
